[submodule "dashel"]
	path = dashel
	url = https://github.com/davidjsherman/dashel.git
	branch = master
[submodule "enki"]
	path = enki
	url = https://github.com/davidjsherman/enki.git
	branch = rpath
[submodule "aseba"]
	path = aseba
	url = https://github.com/davidjsherman/aseba.git
	branch = rpath
[submodule "packager/inirobot-osx"]
	path = packager/inirobot-osx
	url = https://github.com/davidjsherman/inirobot-osx.git
	branch = master
